# Prerrequisites

Installing Spark

---

In [1]:
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-3.2.0/spark-3.2.0-bin-hadoop3.2.tgz
!tar xf spark-3.2.0-bin-hadoop3.2.tgz
!pip -q install findspark

In [2]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.0-bin-hadoop3.2"

In [3]:
import findspark
findspark.init()

Starting Spark Session and print the version


---

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# create the session
spark = SparkSession \
        .builder \
        .master("local[*]") \
        .getOrCreate()

spark.version

'3.2.0'

Creating tunnel</br>
**To Check the Spark UI, open the URL printed by running the above command : https://######/jobs/, /SQL/**

In [5]:
 from google.colab.output import eval_js
 print(eval_js("google.colab.kernel.proxyPort(4040)") + "jobs/")

https://xbig78x3ld-496ff2e9c6d22116-4040-colab.googleusercontent.com/jobs/

# Download Datasets

In [6]:
!mkdir -p /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/bank.csv -P /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/vehicles.csv -P /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/characters.csv -P /dataset
!wget -q https://github.com/masfworld/datahack_docker/raw/master/zeppelin/data/netflix_titles.csv -P /dataset
!ls /dataset

bank.csv  characters.csv  netflix_titles.csv  vehicles.csv

# Reading Data with Spark SQL

---

## Example 1

In [7]:
!head /dataset/bank.csv

"age";"job";"marital";"education";"default";"balance";"housing";"loan";"contact";"day";"month";"duration";"campaign";"pdays";"previous";"poutcome";"y"
30;"unemployed";"married";"primary";"no";1787;"no";"no";"cellular";19;"oct";79;1;-1;0;"unknown";"no"
33;"services";"married";"secondary";"no";4789;"yes";"yes";"cellular";11;"may";220;1;339;4;"failure";"no"
35;"management";"single";"tertiary";"no";1350;"yes";"no";"cellular";16;"apr";185;1;330;1;"failure";"no"
30;"management";"married";"tertiary";"no";1476;"yes";"yes";"unknown";3;"jun";199;4;-1;0;"unknown";"no"
59;"blue-collar";"married";"secondary";"no";0;"yes";"no";"unknown";5;"may";226;1;-1;0;"unknown";"no"
35;"management";"single";"tertiary";"no";747;"no";"no";"cellular";23;"feb";141;2;176;3;"failure";"no"
36;"self-employed";"married";"tertiary";"no";307;"yes";"no";"cellular";14;"may";341;1;330;2;"other";"no"
39;"technician";"married";"secondary";"no";147;"yes";"no";"cellular";6;"may";151;2;-1;0;"unknown";"no"
41;"entrepreneur";"married";"tertiary";"no";221;"yes";"no";"unknown";14;"may";57;2;-1;0;"unknown";"no"

Converting a RDD to a DataFrame

In [8]:
from pyspark.sql.types import Row
from pyspark.sql.functions import *

bankText = spark.sparkContext.textFile("/dataset/bank.csv")

bank = bankText.map(lambda lineaCsv: lineaCsv.split(";"))\
.filter(lambda s: s[0] != "\"age\"") \
.map(lambda row: Row(int(row[0]), row[1].replace("\"", ""), row[2].replace("\"", ""), row[3].replace("\"", ""), row[5].replace("\"", ""))) \
.toDF(["age", "job", "marital", "education", "balance"]) \
.withColumn("age", col("age").cast("int"))

In [10]:
bank.printSchema()

root
 |-- age: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- marital: string (nullable = true)
 |-- education: string (nullable = true)
 |-- balance: string (nullable = true)

In [20]:
bank.createOrReplaceTempView("bank")

AttributeError: ignored

Loading a **Google Colab extension** to show a table with filters

In [12]:
%load_ext google.colab.data_table

In [13]:

from pyspark.sql.functions import *

bank_grouped = bank\
.groupBy(bank.marital) \
.agg({"balance": "avg"}) \
.select("marital", col("avg(balance)").alias("balance_avg")) \
.orderBy(col("balance_avg").desc())\

bank_grouped.show()

+--------+------------------+
| marital|       balance_avg|
+--------+------------------+
| married| 1463.195566678584|
|  single|1460.4147157190635|
|divorced|1122.3901515151515|
+--------+------------------+

In [14]:
bank_grouped.toPandas()

    marital  balance_avg
0   married  1463.195567
1    single  1460.414716
2  divorced  1122.390152

In [15]:
spark.sql("SELECT marital, avg(balance) as balance_avg FROM bank group by marital").show()

+--------+------------------+
| marital|       balance_avg|
+--------+------------------+
|divorced|1122.3901515151515|
| married| 1463.195566678584|
|  single|1460.4147157190635|
+--------+------------------+

In [16]:
import plotly.express as px

fig = px.pie(bank_grouped.toPandas(), values='balance_avg', names='marital', title='By Marital')
fig.show()

## Example 2

Loading a CSV file as RDD, converting into a DataFrame, applying a specific schema using the method `createDataFrame`

In [21]:
from pyspark.sql.types import *

bankSchema = StructType([
    StructField("age", IntegerType(), False), 
    StructField("job", StringType(), False),
    StructField("marital", StringType(), False),
    StructField("education", StringType(), False),
    StructField("balance", IntegerType(), False)])

bankText = spark.sparkContext.textFile("/dataset/bank.csv")

bank = bankText\
.map(lambda s: s.split(";")).filter(lambda s: s[0] != "\"age\"")\
.map(lambda s:(int(s[0]), str(s[1]).replace("\"", ""), str(s[2]).replace("\"", ""), str(s[3]).replace("\"", ""), int(s[5]) ))

bankdf = spark.createDataFrame(bank, bankSchema)
bankdf.createOrReplaceTempView("bank2")

In [22]:
spark.sql("select * from bank2 limit 10").show()

+---+-------------+-------+---------+-------+
|age|          job|marital|education|balance|
+---+-------------+-------+---------+-------+
| 30|   unemployed|married|  primary|   1787|
| 33|     services|married|secondary|   4789|
| 35|   management| single| tertiary|   1350|
| 30|   management|married| tertiary|   1476|
| 59|  blue-collar|married|secondary|      0|
| 35|   management| single| tertiary|    747|
| 36|self-employed|married| tertiary|    307|
| 39|   technician|married|secondary|    147|
| 41| entrepreneur|married| tertiary|    221|
| 43|     services|married|  primary|    -88|
+---+-------------+-------+---------+-------+

## Exercise 1
Load file `vehicles.csv` to a DataFrame, showing the content and printing the schema.

Use this [documentation](https://spark.apache.org/docs/latest/sql-data-sources-load-save-functions.html) to read data in a DataFrame

---

In [23]:
!head /dataset/vehicles.csv

name,model,manufacturer,cost_in_credits,length,max_atmosphering_speed,crew,passengers,cargo_capacity,consumables,vehicle_class
Sand Crawler,Digger Crawler,Corellia Mining Corporation,150000,36.8,30,46,30,50000,2 months,wheeled
T-16 skyhopper,T-16 skyhopper,Incom Corporation,14500,10.4,1200,1,1,50,0,repulsorcraft
X-34 landspeeder,X-34 landspeeder,SoroSuub Corporation,10550,3.4,250,1,1,5,NA,repulsorcraft
TIE/LN starfighter,Twin Ion Engine/Ln Starfighter,Sienar Fleet Systems,NA,6.4,1200,1,0,65,2 days,starfighter
Snowspeeder,t-47 airspeeder,Incom corporation,NA,4.5,650,2,0,10,none,airspeeder
TIE bomber,TIE/sa bomber,Sienar Fleet Systems,NA,7.8,850,1,0,none,2 days,space/planetary bomber
AT-AT,All Terrain Armored Transport,"Kuat Drive Yards, Imperial Department of Military Research",NA,20,60,5,40,1000,NA,assault walker
AT-ST,All Terrain Scout Transport,"Kuat Drive Yards, Imperial Department of Military Research",NA,2,90,2,0,200,none,walker
Storm IV Twin-Pod cloud car,Storm IV Twin-Pod,Bespin Motors,75000,7,1500,2,0,10,1 day,repulsorcraft

In [24]:
vehiclesDF_all = spark.read.format("csv")\
  .option("sep", ",") \
  .option("inferSchema", "true") \
  .option("header", "true") \
  .load("/dataset/vehicles.csv")

In [25]:
vehiclesDF_all.show(truncate=False)

+------------------------------+-------------------------------+----------------------------------------------------------+---------------+------+----------------------+----+----------+--------------+---------------+-------------------------+
|name                          |model                          |manufacturer                                              |cost_in_credits|length|max_atmosphering_speed|crew|passengers|cargo_capacity|consumables    |vehicle_class            |
+------------------------------+-------------------------------+----------------------------------------------------------+---------------+------+----------------------+----+----------+--------------+---------------+-------------------------+
|Sand Crawler                  |Digger Crawler                 |Corellia Mining Corporation                               |150000         |36.8  |30                    |46  |30        |50000         |2 months       |wheeled                  |
|T-16 skyhopper                |T-16 skyhopper                 |Incom Corporation                                         |14500          |10.4  |1200                  |1   |1         |50            |0              |repulsorcraft            |
|X-34 landspeeder              |X-34 landspeeder               |SoroSuub Corporation                                      |10550          |3.4   |250                   |1   |1         |5             |NA             |repulsorcraft            |
|TIE/LN starfighter            |Twin Ion Engine/Ln Starfighter |Sienar Fleet Systems                                      |NA             |6.4   |1200                  |1   |0         |65            |2 days         |starfighter              |
|Snowspeeder                   |t-47 airspeeder                |Incom corporation                                         |NA             |4.5   |650                   |2   |0         |10            |none           |airspeeder               |
|TIE bomber                    |TIE/sa bomber                  |Sienar Fleet Systems                                      |NA             |7.8   |850                   |1   |0         |none          |2 days         |space/planetary bomber   |
|AT-AT                         |All Terrain Armored Transport  |Kuat Drive Yards, Imperial Department of Military Research|NA             |20    |60                    |5   |40        |1000          |NA             |assault walker           |
|AT-ST                         |All Terrain Scout Transport    |Kuat Drive Yards, Imperial Department of Military Research|NA             |2     |90                    |2   |0         |200           |none           |walker                   |
|Storm IV Twin-Pod cloud car   |Storm IV Twin-Pod              |Bespin Motors                                             |75000          |7     |1500                  |2   |0         |10            |1 day          |repulsorcraft            |
|Sail barge                    |Modified Luxury Sail Barge     |Ubrikkian Industries Custom Vehicle Division              |285000         |30    |100                   |26  |500       |2000000       |Live food tanks|sail barge               |
|Bantha-II cargo skiff         |Bantha-II                      |Ubrikkian Industries                                      |8000           |9.5   |250                   |5   |16        |135000        |1 day          |repulsorcraft cargo skiff|
|TIE/IN interceptor            |Twin Ion Engine Interceptor    |Sienar Fleet Systems                                      |NA             |9.6   |1250                  |1   |0         |75            |2 days         |starfighter              |
|Imperial Speeder Bike         |74-Z speeder bike              |Aratech Repulsor Company                                  |8000           |3     |360                   |1   |1         |4             |1 day          |speeder                  |
|Vulture Droid                 |Vulture-class droid starfighter|Haor Chall Engineering, Baktoid Armor Workshop            |NA             |3.5   |1200                  |0   |0         |0             |none           |starfighter              |
|Multi-Troop Transport         |Multi-Troop Transport          |Baktoid Armor Workshop                                    |138000         |31    |35                    |4   |112       |12000         |NA             |repulsorcraft            |
|Armored Assault Tank          |Armoured Assault Tank          |Baktoid Armor Workshop                                    |NA             |9.75  |55                    |4   |6         |NA            |NA             |repulsorcraft            |
|Single Trooper Aerial Platform|Single Trooper Aerial Platform |Baktoid Armor Workshop                                    |2500           |2     |400                   |1   |0         |none          |none           |repulsorcraft            |
|C-9979 landing craft          |C-9979 landing craft           |Haor Chall Engineering                                    |200000         |210   |587                   |140 |284       |1800000       |1 day          |landing craft            |
|Tribubble bongo               |Tribubble bongo                |Otoh Gunga Bongameken Cooperative                         |NA             |15    |85                    |1   |2         |1600          |NA             |submarine                |
|Sith speeder                  |FC-20 speeder bike             |Razalon                                                   |4000           |1.5   |180                   |1   |0         |2             |NA             |speeder                  |
+------------------------------+-------------------------------+----------------------------------------------------------+---------------+------+----------------------+----+----------+--------------+---------------+-------------------------+
only showing top 20 rows

In [26]:
vehiclesDF_all.printSchema()

root
 |-- name: string (nullable = true)
 |-- model: string (nullable = true)
 |-- manufacturer: string (nullable = true)
 |-- cost_in_credits: string (nullable = true)
 |-- length: string (nullable = true)
 |-- max_atmosphering_speed: string (nullable = true)
 |-- crew: integer (nullable = true)
 |-- passengers: string (nullable = true)
 |-- cargo_capacity: string (nullable = true)
 |-- consumables: string (nullable = true)
 |-- vehicle_class: string (nullable = true)

Filter out the previous DafaFrame to get vehicles where the capicity is greater than 70

---

In [27]:
vehiclesDF_all \
  .withColumn("cargo_capacity", col("cargo_capacity").cast("float")) \
  .filter(col("cargo_capacity") > 70) \
  .show()

+--------------------+--------------------+--------------------+---------------+------+----------------------+----+----------+--------------+---------------+--------------------+
|                name|               model|        manufacturer|cost_in_credits|length|max_atmosphering_speed|crew|passengers|cargo_capacity|    consumables|       vehicle_class|
+--------------------+--------------------+--------------------+---------------+------+----------------------+----+----------+--------------+---------------+--------------------+
|        Sand Crawler|      Digger Crawler|Corellia Mining C...|         150000|  36.8|                    30|  46|        30|       50000.0|       2 months|             wheeled|
|               AT-AT|All Terrain Armor...|Kuat Drive Yards,...|             NA|    20|                    60|   5|        40|        1000.0|             NA|      assault walker|
|               AT-ST|All Terrain Scout...|Kuat Drive Yards,...|             NA|     2|                    90|   2|         0|         200.0|           none|              walker|
|          Sail barge|Modified Luxury S...|Ubrikkian Industr...|         285000|    30|                   100|  26|       500|     2000000.0|Live food tanks|          sail barge|
|Bantha-II cargo s...|           Bantha-II|Ubrikkian Industries|           8000|   9.5|                   250|   5|        16|      135000.0|          1 day|repulsorcraft car...|
|  TIE/IN interceptor|Twin Ion Engine I...|Sienar Fleet Systems|             NA|   9.6|                  1250|   1|         0|          75.0|         2 days|         starfighter|
|Multi-Troop Trans...|Multi-Troop Trans...|Baktoid Armor Wor...|         138000|    31|                    35|   4|       112|       12000.0|             NA|       repulsorcraft|
|C-9979 landing craft|C-9979 landing craft|Haor Chall Engine...|         200000|   210|                   587| 140|       284|     1800000.0|          1 day|       landing craft|
|     Tribubble bongo|     Tribubble bongo|Otoh Gunga Bongam...|             NA|    15|                    85|   1|         2|        1600.0|             NA|           submarine|
| Zephyr-G swoop bike| Zephyr-G swoop bike|Mobquet Swoops an...|           5750|  3.68|                   350|   1|         1|         200.0|           none|       repulsorcraft|
|Koro-2 Exodrive a...|Koro-2 Exodrive a...|Desler Gizh Outwo...|             NA|   6.6|                   800|   1|         1|          80.0|             NA|          airspeeder|
|              LAAT/i|Low Altitude Assa...|Rothana Heavy Eng...|             NA|  17.4|                   620|   6|        30|         170.0|             NA|             gunship|
|              LAAT/c|Low Altitude Assa...|Rothana Heavy Eng...|             NA| 28.82|                   620|   1|         0|       40000.0|             NA|             gunship|
|    Clone turbo tank|  HAVw A6 Juggernaut|    Kuat Drive Yards|         350000|  49.4|                   160|  20|       300|       30000.0|        20 days|      wheeled walker|
|               AT-TE|All Terrain Tacti...|Rothana Heavy Eng...|             NA|  13.2|                    60|   6|        36|       10000.0|        21 days|              walker|
|                SPHA|Self-Propelled He...|Rothana Heavy Eng...|             NA|   140|                    35|  25|        30|         500.0|         7 days|              walker|
|  Neimoidian shuttle|Sheathipede-class...|Haor Chall Engine...|             NA|    20|                   880|   2|         6|        1000.0|         7 days|           transport|
+--------------------+--------------------+--------------------+---------------+------+----------------------+----+----------+--------------+---------------+--------------------+

# Spark SQL. Aggregation Functions

Useful Links:

http://spark.apache.org/docs/latest/api/python/

## Exercise 2

Using the DataFrame with all vehicles loaded in Exercise 1, get the number of passengers by vehicle class


---

In [28]:
from pyspark.sql.types import IntegerType

vehiclesDF_all \
  .withColumn("passengers", col("passengers").cast(IntegerType())) \
  .groupBy("vehicle_class") \
  .avg("passengers") \
  .show()

+--------------------+------------------+
|       vehicle_class|   avg(passengers)|
+--------------------+------------------+
|          droid tank|               4.0|
|space/planetary b...|               0.0|
|   droid starfighter|               0.0|
|      wheeled walker|             150.5|
|          sail barge|             500.0|
|       landing craft|             284.0|
|             speeder|0.3333333333333333|
|      assault walker|              40.0|
|         starfighter|               0.0|
|         air speeder|               0.0|
|           transport|               6.0|
|repulsorcraft car...|              16.0|
|             wheeled|              30.0|
|          airspeeder|               0.8|
|           submarine|               2.0|
|             gunship|              15.0|
|       repulsorcraft|17.285714285714285|
|fire suppression ...|              null|
|              walker|              16.5|
+--------------------+------------------+

## Exercise 3

Load the file `characters.csv` getting the most common eye color among all characters

---

In [29]:
characters_df = spark.read.format("csv") \
  .option("sep", ",") \
  .option("inferSchema", "true") \
  .option("header", "true") \
  .load("/dataset/characters.csv") \
  
characters_df.toPandas()

              name height mass hair_color  ... birth_year  gender homeworld species
0   Luke Skywalker    172   77      blond  ...      19BBY    male  Tatooine   Human
1            C-3PO    167   75         NA  ...     112BBY      NA  Tatooine   Droid
2            R2-D2     96   32         NA  ...      33BBY      NA     Naboo   Droid
3      Darth Vader    202  136       none  ...    41.9BBY    male  Tatooine   Human
4      Leia Organa    150   49      brown  ...      19BBY  female  Alderaan   Human
..             ...    ...  ...        ...  ...        ...     ...       ...     ...
82             Rey     NA   NA      brown  ...         NA  female        NA   Human
83     Poe Dameron     NA   NA      brown  ...         NA    male        NA   Human
84             BB8     NA   NA       none  ...         NA    none        NA   Droid
85  Captain Phasma     NA   NA         NA  ...         NA  female        NA      NA
86   Padm Amidala    165   45      brown  ...      46BBY  female     Naboo   Human

[87 rows x 10 columns]

In [30]:
characters_df \
  .groupBy("eye_color") \
  .count() \
  .orderBy(col("count").desc()) \
  .limit(1) \
  .show() \

+---------+-----+
|eye_color|count|
+---------+-----+
|    brown|   21|
+---------+-----+

## Exercise 4

1. Load characters DataFrame into a temporary table
2. Using SQL, get the number of characters by gender


---

In [31]:
characters_df \
.withColumn("gender",
    when(col("gender") == "none", lit("NA")) \
        .otherwise(characters_df.gender)) \
.registerTempTable("characters")

/content/spark-3.2.0-bin-hadoop3.2/python/pyspark/sql/dataframe.py:140: FutureWarning:

Deprecated in 2.0, use createOrReplaceTempView instead.

In [32]:
byGender = spark.sql("select gender, count(*) as count from characters group by gender")
byGender.show()

+-------------+-----+
|       gender|count|
+-------------+-----+
|           NA|    5|
|hermaphrodite|    1|
|       female|   19|
|         male|   62|
+-------------+-----+

In [33]:
import plotly.express as px

fig = px.pie(byGender.toPandas(), values='count', names='gender', title='By Gender')
fig.show()

## Exercise 5

Load `netflix_titles.csv` file in a DataFrame, printing the schema

---

In [34]:
!head /dataset/netflix_titles.csv

show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole Howard, Jennifer Cameron, Jonathan Holmes, Lee Tockar, Lisa Durupt, Maya Kay, Michael Dobson","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies","Before planning an awesome wedding for his grandfather, a polar bear king must take back a stolen artifact from an evil archaeologist first."
80117401,Movie,Jandino: Whatever it Takes,,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,"Jandino Asporaat riffs on the challenges of raising kids and serenades the audience with a rousing rendition of ""Sex on Fire"" in his comedy show."
70234439,TV Show,Transformers Prime,,"Peter Cullen, Sumalee Montano, Frank Welker, Jeffrey Combs, Kevin Michael Richardson, Tania Gunadi, Josh Keaton, Steve Blum, Andy Pessoa, Ernie Hudson, Daran Norris, Will Friedle",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autobots once again protect Earth from the onslaught of the Decepticons and their leader, Megatron."
80058654,TV Show,Transformers: Robots in Disguise,,"Will Friedle, Darren Criss, Constance Zimmer, Khary Payton, Mitchell Whitfield, Stuart Allan, Ted McGinley, Peter Cullen",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,"When a prison ship crash unleashes hundreds of Decepticons on Earth, Bumblebee leads a new Autobot force to protect humankind."
80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins, Keith Powers, Alicia Sanz, Jake Borelli, Kid Ink, Yousef Erakat, Rebekah Graf, Anne Winters, Peter Gilroy, Patrick Davis",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,"When nerdy high schooler Dani finally attracts the interest of her longtime crush, she lands in the cross hairs of his ex, a social media celebrity."
80163890,TV Show,Apaches,,"Alberto Ammann, Eloy Azorn, Vernica Echegui, Luca Jimnez, Claudia Traisac",Spain,"September 8, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, Spanish-Language TV Shows",A young journalist is forced into a life of crime to save his father and family in this series based on the novel by Miguel Sez Carral.
70304989,Movie,Automata,Gabe Ibez,"Antonio Banderas, Dylan McDermott, Melanie Griffith, Birgitte Hjort Srensen, Robert Forster, Christa Campbell, Tim McInnerny, Andy Nyman, David Ryall","Bulgaria, United States, Spain, Canada","September 8, 2017",2014,R,110 min,"International Movies, Sci-Fi & Fantasy, Thrillers","In a dystopian future, an insurance adjuster for a tech company investigates a robot killed for violating protocol and discovers a global conspiracy."
80164077,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Stand-Up Comedy,"Fabrizio Copano takes audience participation to the next level in this stand-up set while reflecting on sperm banks, family WhatsApp groups and more."
80117902,TV Show,Fire Chasers,,,United States,"September 8, 2017",2017,TV-MA,1 Season,"Docuseries, Science & Nature TV","As California's 2016 fire season rages, brave backcountry firefighters race to put out the flames, protect homes and save lives in this docuseries."

In [35]:
netflixDF_all = spark.read.format("csv")\
  .option("sep", ",") \
  .option("inferSchema", "true") \
  .option("header", "true") \
  .load("/dataset/netflix_titles.csv")

In [36]:
netflixDF_all.printSchema()

root
 |-- show_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- title: string (nullable = true)
 |-- director: string (nullable = true)
 |-- cast: string (nullable = true)
 |-- country: string (nullable = true)
 |-- date_added: string (nullable = true)
 |-- release_year: string (nullable = true)
 |-- rating: string (nullable = true)
 |-- duration: string (nullable = true)
 |-- listed_in: string (nullable = true)
 |-- description: string (nullable = true)

In [37]:
netflixDF_all.show()

+--------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+--------+--------+--------------------+--------------------+
| show_id|   type|               title|            director|                cast|             country|       date_added|release_year|  rating|duration|           listed_in|         description|
+--------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+--------+--------+--------------------+--------------------+
|81145628|  Movie|Norm of the North...|Richard Finn, Tim...|Alan Marriott, An...|United States, In...|September 9, 2019|        2019|   TV-PG|  90 min|Children & Family...|Before planning a...|
|80117401|  Movie|Jandino: Whatever...|                null|    Jandino Asporaat|      United Kingdom|September 9, 2016|        2016|   TV-MA|  94 min|     Stand-Up Comedy|"Jandino Asporaat...|
|70234439|TV Show|  Transformers Prime|                null|Peter Cullen, Sum...|       United States|September 8, 2018|        2013|TV-Y7-FV|1 Season|            Kids' TV|With the help of ...|
|80058654|TV Show|Transformers: Rob...|                null|Will Friedle, Dar...|       United States|September 8, 2018|        2016|   TV-Y7|1 Season|            Kids' TV|When a prison shi...|
|80125979|  Movie|        #realityhigh|    Fernando Lebrija|Nesta Cooper, Kat...|       United States|September 8, 2017|        2017|   TV-14|  99 min|            Comedies|When nerdy high s...|
|80163890|TV Show|             Apaches|                null|Alberto Ammann, E...|               Spain|September 8, 2017|        2016|   TV-MA|1 Season|Crime TV Shows, I...|A young journalis...|
|70304989|  Movie|            Automata|         Gabe Ibez|Antonio Banderas,...|Bulgaria, United ...|September 8, 2017|        2014|       R| 110 min|International Mov...|In a dystopian fu...|
|80164077|  Movie|Fabrizio Copano: ...|Rodrigo Toro, Fra...|     Fabrizio Copano|               Chile|September 8, 2017|        2017|   TV-MA|  60 min|     Stand-Up Comedy|Fabrizio Copano t...|
|80117902|TV Show|        Fire Chasers|                null|                null|       United States|September 8, 2017|        2017|   TV-MA|1 Season|Docuseries, Scien...|As California's 2...|
|70304990|  Movie|         Good People|   Henrik Ruben Genz|James Franco, Kat...|United States, Un...|September 8, 2017|        2014|       R|  90 min|Action & Adventur...|A struggling coup...|
|80169755|  Movie|Joaqun Reyes: Un...|Jos Miguel Contr...|       Joaqun Reyes|                null|September 8, 2017|        2017|   TV-MA|  78 min|     Stand-Up Comedy|Comedian and cele...|
|70299204|  Movie|Kidnapping Mr. He...|    Daniel Alfredson|Jim Sturgess, Sam...|Netherlands, Belg...|September 8, 2017|        2015|       R|  95 min|Action & Adventur...|"When beer magnat...|
|80182480|  Movie|Krish Trish and B...|                null|Damandeep Singh B...|                null|September 8, 2017|        2009|   TV-Y7|  58 min|Children & Family...|A team of minstre...|
|80182483|  Movie|Krish Trish and B...|Munjal Shroff, Ti...|Damandeep Singh B...|                null|September 8, 2017|        2013|   TV-Y7|  62 min|Children & Family...|An artisan is che...|
|80182596|  Movie|Krish Trish and B...|Munjal Shroff, Ti...|Damandeep Singh B...|                null|September 8, 2017|        2016|    TV-Y|  65 min|Children & Family...|A cat, monkey and...|
|80182482|  Movie|Krish Trish and B...|        Tilak Shetty|Damandeep Singh B...|                null|September 8, 2017|        2012|   TV-Y7|  61 min|Children & Family...|In three comic-st...|
|80182597|  Movie|Krish Trish and B...|        Tilak Shetty|Rishi Gambhir, Sm...|                null|September 8, 2017|        2017|   TV-Y7|  65 min|Children & Family...|A cat, monkey and...|
|80182481|  Movie|Krish Trish and B...|                null|Damandeep Singh B...|                null|September 8, 2017|        2010|   TV-Y7|  58 min|Children & Family...|Animal minstrels ...|
|80182621|  Movie|Krish Trish and B...|Munjal Shroff, Ti...|Damandeep Singh B...|                null|September 8, 2017|        2013|   TV-Y7|  60 min|Children & Family...|The consequences ...|
|80057969|  Movie|                Love|          Gaspar No|Karl Glusman, Kla...|     France, Belgium|September 8, 2017|        2015|      NR| 135 min|Cult Movies, Dram...|A man in an unsat...|
+--------+-------+--------------------+--------------------+--------------------+--------------------+-----------------+------------+--------+--------+--------------------+--------------------+
only showing top 20 rows

## Exercise 6

Get the year in which most films were added(No TV Shows). Use a UDF to get the year

---

In [38]:
from pyspark.sql.functions import *

netflixDF_movies = netflixDF_all\
  .filter(netflixDF_all.type == "Movie") \

netflixDF_movies.show()

+--------+-----+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
| show_id| type|               title|            director|                cast|             country|       date_added|release_year|rating|duration|           listed_in|         description|
+--------+-----+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
|81145628|Movie|Norm of the North...|Richard Finn, Tim...|Alan Marriott, An...|United States, In...|September 9, 2019|        2019| TV-PG|  90 min|Children & Family...|Before planning a...|
|80117401|Movie|Jandino: Whatever...|                null|    Jandino Asporaat|      United Kingdom|September 9, 2016|        2016| TV-MA|  94 min|     Stand-Up Comedy|"Jandino Asporaat...|
|80125979|Movie|        #realityhigh|    Fernando Lebrija|Nesta Cooper, Kat...|       United States|September 8, 2017|        2017| TV-14|  99 min|            Comedies|When nerdy high s...|
|70304989|Movie|            Automata|         Gabe Ibez|Antonio Banderas,...|Bulgaria, United ...|September 8, 2017|        2014|     R| 110 min|International Mov...|In a dystopian fu...|
|80164077|Movie|Fabrizio Copano: ...|Rodrigo Toro, Fra...|     Fabrizio Copano|               Chile|September 8, 2017|        2017| TV-MA|  60 min|     Stand-Up Comedy|Fabrizio Copano t...|
|70304990|Movie|         Good People|   Henrik Ruben Genz|James Franco, Kat...|United States, Un...|September 8, 2017|        2014|     R|  90 min|Action & Adventur...|A struggling coup...|
|80169755|Movie|Joaqun Reyes: Un...|Jos Miguel Contr...|       Joaqun Reyes|                null|September 8, 2017|        2017| TV-MA|  78 min|     Stand-Up Comedy|Comedian and cele...|
|70299204|Movie|Kidnapping Mr. He...|    Daniel Alfredson|Jim Sturgess, Sam...|Netherlands, Belg...|September 8, 2017|        2015|     R|  95 min|Action & Adventur...|"When beer magnat...|
|80182480|Movie|Krish Trish and B...|                null|Damandeep Singh B...|                null|September 8, 2017|        2009| TV-Y7|  58 min|Children & Family...|A team of minstre...|
|80182483|Movie|Krish Trish and B...|Munjal Shroff, Ti...|Damandeep Singh B...|                null|September 8, 2017|        2013| TV-Y7|  62 min|Children & Family...|An artisan is che...|
|80182596|Movie|Krish Trish and B...|Munjal Shroff, Ti...|Damandeep Singh B...|                null|September 8, 2017|        2016|  TV-Y|  65 min|Children & Family...|A cat, monkey and...|
|80182482|Movie|Krish Trish and B...|        Tilak Shetty|Damandeep Singh B...|                null|September 8, 2017|        2012| TV-Y7|  61 min|Children & Family...|In three comic-st...|
|80182597|Movie|Krish Trish and B...|        Tilak Shetty|Rishi Gambhir, Sm...|                null|September 8, 2017|        2017| TV-Y7|  65 min|Children & Family...|A cat, monkey and...|
|80182481|Movie|Krish Trish and B...|                null|Damandeep Singh B...|                null|September 8, 2017|        2010| TV-Y7|  58 min|Children & Family...|Animal minstrels ...|
|80182621|Movie|Krish Trish and B...|Munjal Shroff, Ti...|Damandeep Singh B...|                null|September 8, 2017|        2013| TV-Y7|  60 min|Children & Family...|The consequences ...|
|80057969|Movie|                Love|          Gaspar No|Karl Glusman, Kla...|     France, Belgium|September 8, 2017|        2015|    NR| 135 min|Cult Movies, Dram...|A man in an unsat...|
|80060297|Movie|   Manhattan Romance|         Tom O'Brien|Tom O'Brien, Kath...|       United States|September 8, 2017|        2014| TV-14|  98 min|Comedies, Indepen...|A filmmaker worki...|
|80046728|Movie|         Moonwalkers|Antoine Bardou-Ja...|Ron Perlman, Rupe...|     France, Belgium|September 8, 2017|        2015|     R|  96 min|Action & Adventur...|A brain-addled wa...|
|80046727|Movie|      Rolling Papers|       Mitch Dickman|                null|United States, Ur...|September 8, 2017|        2015| TV-MA|  79 min|       Documentaries|As the newspaper ...|
|70304988|Movie|  Stonehearst Asylum|       Brad Anderson|Kate Beckinsale, ...|       United States|September 8, 2017|        2014| PG-13| 113 min|Horror Movies, Th...|In 1899, a young ...|
+--------+-----+--------------------+--------------------+--------------------+--------------------+-----------------+------------+------+--------+--------------------+--------------------+
only showing top 20 rows

In [39]:
from pyspark.sql.functions import *

def getYearAdded(s): return s[-4:]
getYearAdded_udf = udf(getYearAdded)

netflixDF_movies \
  .filter(col("date_added").isNotNull()) \
  .select(col("title"), getYearAdded_udf("date_added").alias("release_year")) \
  .distinct() \
  .groupBy(col("release_year")) \
  .count() \
  .orderBy(col("count").desc()) \
  .first()

Row(release_year='2019', count=1540)